<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MirBibi.Properties.Settings.ПользователиConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Пользователи.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
        <add name="MirBibi.Properties.Settings.Пользователи" connectionString="Data Source=DESKTOP-J2DJOPI;Initial Catalog=Пользователи;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="MirBibi.Properties.Settings.Issuance_of_BooksConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Issuance_of_Books.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="MirBibi.Properties.Settings.VydachabooksConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Vydachabooks.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
